@model ChatterApp.Models.Chat

@{
    ViewBag.Title = "Browse";
}

<h2 class="heading">Trending Now</h2>


            @*@Html.DisplayNameFor(model => model.ApplicationUser.Email)
       
            @Html.DisplayNameFor(model => model.Content)*@

<div class="row">
    @foreach (var item in ViewBag.chats)
    {
        <div class="col-xs-12 col-md-8 col-md-offset-2 chat">
            <span class="email"> @item.ApplicationUser.Email </span><br/>
            
            @item.Content<br/>


            @if (Request.IsAuthenticated)
            {

                @Html.ActionLink("Follow", "Follow", new { id = item.ChatID })

            }
        </div>
    }


</div>

