@model ChatterApp.Models.Chat

@{
    ViewBag.Title = "Details";
}

<h2 class="heading">Details</h2>

<div>

    <hr />
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 chat">


            <span class="email">@Html.DisplayFor(model => model.ApplicationUser.Email)</span> <br />



            @Html.DisplayFor(model => model.Content)



            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ChatID })
                @Html.ActionLink("Back to Chats", "Index")
            </p>
        </div>
    </div>
</div>