@model ChatterApp.Models.Chat

@{
    ViewBag.Title = "Feed";
}

<h2 class="heading">Your Feed</h2>
@if (@ViewBag.authentication == "yes")
{

            @*@Html.DisplayNameFor(model => model.ApplicationUser.Email)
        
            @Html.DisplayNameFor(model => model.Content)*@

    <div class="row">
        @foreach (var item in ViewBag.chats)
        {
            <div class="col-xs-12 col-md-8 col-md-offset-2 chat">
                <span class="email">@item.ApplicationUser.Email</span><br />

                @item.Content
            </div>
        }

    </div>
}

@*@else 
{
    <h3>You must be logged in to view your feed.</h3>
}*@
