@{
    ViewBag.Title = "About";
}
<div>
    <h2 class="heading">@ViewBag.Title Chatter</h2>
    <h3>Created By Valerie Shoskes and Erica Schulstad</h3>

    <p>
        Chatter was designed for users to create chats to share their thoughts and feelings with
        others. All current chats appear on the trending page. Users also have the ability to
        follow other users. Once logged in, users can view their feed which shows all the current
        posts by their followers.
        <br /> <br />
        Get started today. Login or Sign up to start Chatting!
    </p>
</div>