@{
    ViewBag.Title = "Contact";
}
<h2 class="heading">@ViewBag.Title Us</h2>
<h3>Like what you see? Have a suggestion? Feel free to reach out.</h3>

<div>
    Erica Schulstad <a href="https://www.linkedin.com/in/ericaschulstad">LinkedIn</a> <br/>
    Valerie Shoskes <a href="https://www.linkedin.com/in/valerie-shoskes">LinkedIn</a>
</div>
