@{
    ViewBag.Title = "Home Page";
}
<body class="homePage">
    <div class="jumbotron">
        <h1 class="title">CHATTER</h1>
        <p class="lead">POST CHATS, FOLLOW OTHERS, SEE WHAT'S TRENDING</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>@Html.ActionLink("View Your Chats","Index","Chats")</h2>
         
        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("View Browser","Browse","Chats")</h2>

        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("View Your Feed","Feed","Chats")</h2>
            
        </div>
    </div>
</body>